<h1>Welcome to the login screen</h1>


<div class="centre">
  <%= link_to image_tag("https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_01.png"), '/auth/steam' %>
</div>

<p>Use the link above to sign in to steam.</p>
