<h1>Welcome to the Welcome index</h1>
<%= link_to image_tag("https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_01.png"), '/auth/steam' %>

<p>Use the link above to sign in to steam.</p>
