<h1>Welcome to the login screen</h1>

<h1> <%= link_to image_tag("https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_01.png"), '/auth/steam' %></h1>

<p class="lead">Use the link above to sign in via Steam.</p>
