<div>
  <p>
  <strong>Comparing User:</strong>
  <%= @user['nickname'] %>
</p>
</div>

<div>
<p>
  <strong>Against friends:</strong>
</p>
  <% @friends_name.each do |friend| %>
    <ul><%= friend %> </ul>
  <% end %>
</div>

<div>
<h2>
  <strong>Shared games:</strong>
</h2>
  <% @shared_games.each do |game| %>
    <ul><%= game %> </ul>
  <% end %>
</div>

<p>
  <%= link_to 'Back to list', compare_index_url %>
</p>
