  <p>
  <strong>Comparing User:</strong>
  <%= @user['nickname'] %>
</p>


<p>
  <strong>Against friends:</strong>
</p>
  <% @friends_name.each do |friend| %>
    <p><%= friend %> </p>
  <% end %>

<h2>
  <strong>Shared games:</strong>
</h2>
  <% @shared_games.each do |game| %>
    <ul><%= game %> </ul>
  <% end %>

<p>
  <%= link_to 'Back to list', compare_index_path %>
</p>
