<p>
  <strong>Comparing User:</strong>
  <%= @user['nickname'] %>
</p>

<p>
  <strong>Against friends:</strong>
  <%= @friend_name %>
</p>

<p>
  <strong>Shared games:</strong>
  <% @shared_games.each do |game| %>
    <li><%= game %> </li>
  <% end %>
</p>

<p>
  <%= link_to 'Back to list', compare_index_url %>
</p>
